.container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.left {
  width: 60%;
}
.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}
.fieldsetContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}
.optionsDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.optionsDiv input{
  width: 90px;
}
.notesContainer {
  margin-top: 20px;
}
.notesTextArea {
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
}
.notesDetailContainer {
  height: 200px;
}
.right {
  width: calc(40% - 10px);
  margin-left: 10px;
}
.activeRow {
  color: black;
  background-color: white;
}
