.tabContainerButton {
  min-width: 100px;
  width: auto;
  height: 20px;
  border: 1px solid white;
  border-radius: 3px;
  color: green;
  background-color: transparent;
}
.table {
  max-height: calc(100vh - 320px);
  overflow: auto;
}
.activeRow {
  color: black;
  background-color: white;
}
