.tabContainerButton {
  min-width: 100px;
  width: auto;
  height: 20px;
  border: 1px solid white;
  border-radius: 3px;
  color: green;
  background-color: transparent;
}
.image {
  width: calc(100% - 20px);
  height: auto;
}
.table {
  max-height: 200px;
  overflow-y: auto;
}
.activeRow {
  color: black;
  background-color: white;
}
